{% extends 'admin-dashboard/header-footer-admin.html'%}

{% block body %}
<section class="content-main">
    <form method="post" action="/add-blogs">
        {{form_blogs.hidden_tag()}}
            <div class="row">
                <div class="col-6">
                    {% if get_flashed_messages() %}
                        {% for message in get_flashed_messages(with_categories=true) %}
                            <div class="alert alert-{{ message[0] }}" role="alert">
                                {{ message[1] }}
                            </div>
                        {% endfor %}
                      {% endif %}
                    <div class="content-header">
                        <h2 class="content-title">Add New Blog</h2>
                        <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            {{form_blogs.submit()}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">

                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>1. General info</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Blog title</label>
                                            {{form_blogs.Blog_title}}
                                            {% for error in form_blogs.Blog_title.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Description</label>
                                            {{form_blogs.Description }}
                                            {% for error in form_blogs.Description.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>4. Media</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Images</label>
                                            <input class="form-control" type="file">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- .row end// -->

                        </div>
                    </div>
                </div>
            </div>
        </form>
        </section> <!-- content-main end// -->
{% endblock%}